.news-container {
    background: var(--bg-color-nav);
    border-radius: 25px;
    color: var(--font-color-main);
    margin-bottom: 40px;
}

.news-card {
    padding: 5px;
    align-items: center;
}

.news-date {
    font-size: 18px;
    font-weight: bold;
    text-align: right;
}

.sub-news {
    font-size: 13px;
}